@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

#handy-basis {width: 250px; height: 500px; background-image:url('https://abload.de/img/iphone_png3qkfg.png'); margin: 0 auto; position: relative;}
#handyd-basis {width: 250px; height: 500px; background-image:url('/images/iphone_code2.png'); margin: 0 auto; position: relative;}
#handy-basis #icons {width: 210px; position: absolute; top: 63px; left: 21px; font-size:9px; color:#fff; z-index:10; font-family: 'Droid Sans';}
#handyd-basis #icons {width: 210px; position: absolute; top: 63px; left: 21px; font-size:9px; color:#fff; z-index:10; font-family: 'Droid Sans';}
#handy-basis #bild1 {width: 210px; height: 375px; position: absolute; top: 62px; left: 19px;}
#handyd-basis #bild1 {width: 210px; height: 375px; position: absolute; top: 62px; left: 19px;}
#handy-basis #bild2 {width: 210px; height: 375px; position: absolute; top: 62px; left: 19px; transition: 1s ease-in-out; opacity: 0;}
#handyd-basis #bild2 {width: 210px; height: 375px; position: absolute; top: 62px; left: 19px; transition: 1s ease-in-out; opacity: 0;}
#handy-basis:hover #bild2 {opacity: 1;}
#handyd-basis:hover #bild2 {opacity: 1;}
#bild1 #time {width: 120px; position: absolute; top: 30px; left: 50px; font-size:50px; color:#fff; font-family: 'Raleway';}
#bild1 #date {width: 100px; position: absolute; top: 90px; left: 70px; font-size:9px; color:#fff; font-family: 'Droid Sans'; letter-spacing:1px;}
#bild2 #textfeld {width: 200px; height: 250px; position: absolute; top: 20px; left: 5px; background-color:#f1f1f1; box-sizing: border-box; padding:10px; font-size: 10px; text-align: justify; color:#000; overflow: auto; z-index:5; font-family: 'Open Sans';}
#bild2 .form {width:20px; height:20px; z-index:2; position: absolute; top:260px; left:100px; }
#form1 {transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); -webkit-transform: rotate(45deg); background-color:#f1f1f1; z-index:1; }
#bild2 .ava {width: 60px; height: 60px; box-sizing: content-box; padding: 5px; border: #f1f1f1 solid 1px; position: absolute; top: 290px; left: 125px; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%;}
#bild2 .ava img {border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; width: 60px; height: 60px;}
#bild2 #strich {width:110px; height: 1px; background-color:#f1f1f1; position: absolute; top: 330px; left: 15px;}
#bild2 #from {width:110px; position: absolute; top: 310px; left: 15px; text-align: center; font-size:14px; font-family: 'Lobster'; color:#fff;}
#bild2 #to {width:110px; position: absolute; top: 335px; left: 15px; text-align: center; font-size:8px; font-family: 'Open Sans'; text-transform: uppercase; color:#fff;}