<style text="text/css">
#handy { width:305px; height:530px; font-size:11px; font-family: arial; margin:0 auto; padding-top: 90px; background-image:url('https://abload.de/img/iphone_png3qkfg.png')}
#handy .txtBox { position:relative; width:250px;  height:385px; margin: 0 auto; overflow: auto; }
.zeit {color: #4b4b4b; font-weight: 700; height: 16px; padding-top: 3px; text-align: center}
.sender { margin-right: 3em; text-align:right; margin-bottom:-17px; font-size:10px }
.picse {border-radius:50%; width:50px;height:50px;margin:10px 0 20px 3px} .senderPic {margin-right: 2.1em;text-align:right}
.empf { margin-left: 2.5em; text-align:left; margin-bottom:-17px; font-size:10px }
.bubble, .bubble2, .bubbleE, .bubbleE2 { position: relative; background-color: #3ba8fb; padding: 10px; text-align: center; width: 160px; border-radius: 13px; font-family: arial; color: #fff; font-size: 11px; margin: 20px 0 0 45px; }
.bubbleE, .bubbleE2 { margin-left: 25px; background-color: #fff; width: 75px; color:#5a5a5a  }
.bubble { margin-bottom: -10px; }
.bubble2:after, .bubbleE2:after { position: absolute; display: block; content: ""; border-color: #3ba8fb transparent transparent transparent; border-style: solid; border-width: 10px; height: 0; width:0; bottom:-19px; right:1em; } .bubbleE2:after { left:1em; border-color: #fff transparent transparent transparent}</style>
